.breadcrumbs-block {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
	li {
		position: relative;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
	li:not(:last-child)::after {
		content: '';
		position: absolute;
		top: 6px;
		right: -10px;
		background-color: #f0cd64;
		width: 6px;
		height: 6px;
		border-radius: 50%;
	}
	li a {
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		color: #a1a1a1;
	}
	li.active a {
		color: #181818;
	}
}