.payment-block {
	&__heading {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 20px;
	}
	&__heading-icon {
		position: relative;
		margin-right: 10px;
		&::after {
			content: '';
			position: absolute;
			top: 5px;
			right: 0;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			background-color: #f2d36f;
		}
	}
	&__heading-title {
		display: block;
		font-size: 26px;
		line-height: 17px;
		font-weight: 700;
	}
	&__option-wrapper {
		display: flex;
		flex-direction: row;
		padding-bottom: 15px;
		margin-bottom: 40px;		
		border-bottom: 1px solid #ead276;
	}
	&__option {
		display: flex;
		flex-direction: column;
		&:not(:last-child) {
			margin-right: 60px;
		}
	}
	&__option h3 {
		display: block;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		color: #202020;
		margin-bottom: 20px;
	}
	&__list {
		margin-bottom: 20px;
	}
	&__list li {
		position: relative;
		display: block;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #202020;
		padding-left: 15px;
		&::before {
			content: '';
			position: absolute;
			top: 4px;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #f2d36f;
		}
	}
	&__option-bottom {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__bottom-online &__option-icon:not(:last-child) {
		margin-right: 15px;
	}
	&__option-icon .icon--payment {
		display: block;
		margin-right: 70px;
	}
	&__option-icon .icon--credit {
		display: block;
		margin-right: 50px;
	}
	&__requisites {
		display: block;
		margin-right: 15px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #cf9613;
		text-decoration: underline;
	}
}
