@media screen and (max-width: 767px) {
	.security-block {
		flex-direction: column;
		&__left-part {
			margin-bottom: 30px;
		}
		&__left-part {
			width: 100%;
		}
		&__right-part {
			width: 100%;
		}
		&__title {
			font-size: 18px;
			line-height: 34px;
		}
		&__option-bottom {
			margin-left: 0;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.security-block {
		&__left-part, &__right-part {
			width: 100%;
		}
	}
}